body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  padding-top: 40px;
}

main {
  padding: 0.5rem;
  padding-bottom: 44px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

a {
  text-decoration: none;
}

/* card */
.card {
  background-color: hsl(216, 50%, 16%);
  width: 400px;
  height: 700px;
  border-radius: 25px;
}

/* card image */
.main-image {
  width: 80%;
  padding: 40px 40px 30px 40px;
  border-radius: 12%;
}

/* card title */
.card-title {
  color: white;
  padding-left: 20px;
}

.card-title:hover {
  color: hsl(178, 100%, 50%);
}

/* card details */
.card-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-details-price {
  color: hsl(178, 100%, 50%);
  padding: 20px 0 0 40px;
  font-weight: 600;
}

.card-description {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
  padding: 0 40px 0 40px;
  line-height: 25px;
  font-size: 18px;
}

.card-details-time {
  color: hsl(215, 51%, 70%);
  padding: 20px 40px 0 0;
}

.icon {
  padding-right: 5px;
}

/* horizontal line */
.line {
  margin-top: 25px;
  width: 320px;
  background-color: hsl(215, 32%, 27%);
  border: 0 none;
  color: hsl(215, 32%, 27%);
  height: 2px;
}

/* card footer */
.card-footer {
  display: flex;
  justify-content: flex-start;
}

.card-footer-image {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding-left: 40px;
  padding-top: 25px;
}

.author-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid hsl(215, 32%, 27%);
}

.card-footer-name {
  color: hsl(215, 51%, 70%);
  padding-top: 20px;
  padding-left: 15px;
  font-weight: 300;
}

.author-name {
  color: white;
  font-weight: 400;
}

.author-name:hover {
  color: hsl(178, 100%, 50%);
}

/* footer */
.attribution {
  color: white;
  font-weight: 300;
}

.attribution a {
  color: yellow;
}
